.footer-section{
    padding: 20px;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    background: #4F575B;
    text-align: center;
    color: #ffffff;
}
.footer-section p{
    margin: 0;
}