<app-header></app-header>
<div class="about-us-body">
    <form (ngSubmit)="onClickSubmit(myNewForms)" #myNewForms="ngForm">
        <div class="form-group">
          <label for="username">User Name *</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Name" name="username" [(ngModel)]="username" required #name="ngModel">
          <small class="text-danger" *ngIf="!name.valid && name.touched">Enter valid name</small>
          <small class="text-success " *ngIf="username">User Name is {{username}}</small>
        </div>
        <div class="form-group">
          <label for="email">Enter Email *</label>
          <input type="email" class="form-control" id="email" placeholder="Email" name="email" ngModel required email #email="ngModel">
          <small *ngIf="!email.valid && email.touched" class="text-danger">Please enter valid email</small>
        </div>
        <div class="form-group form-check">
          <label for="Course">Select Course</label>
          <select  class="form-control" id="course" name="course" [ngModel]="defaultCourse">
              <option value="angular">Angular</option>
              <option value="vue">Vue</option>
              <option value="react">React</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myNewForms.valid" >Submit</button>
      </form>
</div>

<div class="bg-white rounded shadow" *ngIf="submited">
    <div class=" col-md-6">
        <h2>Form Data</h2>
        <p>User Name : <b>{{formData.username}}</b></p>
        <p>User Email : <b>{{formData.email}}</b></p>
        <p>Course : <b>{{formData.course}}</b></p>
    </div>
</div>


<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special.(check for ngClass with a method multi class)</div>


<div [ngStyle]="{'background':'blue','color':'#fff'}">This div check for ngStyle</div>


<button class="btn btn-success my-3" (click)="onCreateBlock()">show</button>

<div *ngIf="isvalid else elseBlock">Using ngIf this block is show.</div>
<ng-template #elseBlock>
    <div>you are not click on the button</div>
</ng-template>

<!-- ngSwitch -->

<select class="form-control" (change)="changeProduct($event)">
    <option value="Mobile">Mobile</option>
    <option value="Tv">TV</option>
    <option value="Laptop">Laptop</option>
    <option value="Ac">A.C</option>
</select>

<div [ngSwitch]="selectedProduct">
    <h2 value="Mobile" *ngSwitchCase="'Mobile'">Mobile</h2>
    <h2 value="Tv" *ngSwitchCase="'Tv'">TV</h2>
    <h2 value="Laptop" *ngSwitchCase="'Laptop'">Laptop</h2>
    <h2 value="Ac" *ngSwitchCase="'Ac'">A.C</h2>
</div>



<!-- ngFor -->

<ul>
    <li *ngFor="let item of sampleArray;let i = index">{{item.roll}}--{{i + 1}}--{{item.name}}</li><br>
</ul>


<!-- Push and Splice -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="" class="form-control" placeholder="User Name" #uname>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" (click)="onCreateUser(uname)">Create User</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>User Name</th>
                        <th>Remove Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users;index as i">
                        <td>{{user.name}}</td>
                        <td><button class="btn btn-danger" (click)="removeUser(i)">Remove Item</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Component Communication -->
    <div class="row">
        <div class="col-md-12 d-flex my-3 justify-content-between">
            <div class="card">
                <p>This is Laptop :)</p>
                <h2>Laptop</h2>
                <button class="btn btn-success">Select Product</button>
            </div>
            <div class="card">
                <p>This is Mobile :)</p>
                <h2>Laptop</h2>
                <button class="btn btn-success">Select Product</button>
            </div>
            <div class="card">
                <p>This is Tv :)</p>
                <h2>Laptop</h2>
                <button class="btn btn-success">Select Product</button>
            </div>
            <div class="card">
                <p>This is AC :)</p>
                <h2>Laptop</h2>
                <button class="btn btn-success">Select Product</button>
            </div>
        </div>
        <div class="col-md-12 bg-success text-center py-4 text-white">
            <h3>Please Select Product</h3>
            <h3>Laptop is Selected</h3>
            <button class="btn btn-light mt-3">Add to Cart</button>
        </div>
    </div>
</div>



<app-footer></app-footer>