<app-header></app-header>
<div class="about-us-body">
    <div class="about-me">
        <div class="about-left">
           <img src="../../assets/images/prof-pic.jpg" alt="profile-picture">
        </div>
        <div class="about-right">
            <h3>Design with us, Develop Anything.</h3>
            <p>Hey there, I am <a target="_blank" href="https://www.linkedin.com/in/atanu-paul-65a37bb4/">Atanu Paul</a>,and my portfolio is a representation of all that I've learned and accomplished 
                as a Web Designer in Arena Animation and BCA student.
                and I design Websites for small businesses.While I'm based in Kolkata,India.
                I help build websites for people all over the wolrd.Now I am currently Working as a Web Developer 
                in Mass Software Solution Pvt. Ltd. kolkata based Company over 1 year Exprience.</p>
                <div class="follow-btn">
                    <ul>
                        <li><a target="_blank" href="https://www.linkedin.com/in/atanu-paul-65a37bb4/"><i class="icon-linkedin-square"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/atanu.paul.9237/"><i class="icon-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/atanu.paul.9237/"><i class="icon-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/atanu.paul.9237/"><i class="icon-whatsapp"></i></a></li>
                    </ul>
                </div>
        </div>
    </div>

    <div class="contact-us-form">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
<app-footer></app-footer>