@import "~bootstrap/dist/css/bootstrap.css";
.body_wrapper{
    background: #4f575b;
}

.content-wrapper{
    min-height: 100vh;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .login-body{
      width: 600px;
      margin: 0 auto;
      padding-top: 50px;
  }

  .login-body::ng-deep .mat-tab-labels{
      justify-content: center;
  }

  .login-body::ng-deep .mat-tab-label{
    background: #4F575B;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    margin: 4px 10px;
  }

  .login-body::ng-deep .mat-tab-label-container{
      padding-bottom: 1px;
  }

  .login-body::ng-deep.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #c82424;
  }

  .login-body::ng-deep .example-form{
      margin: 0 auto;
  }

  .login-body::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
      color:#c82424 ;
  }

  .login-body::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #c82424;
  }

  .login-body::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
      background-color: transparent;
  }

  .login-body::ng-deep .mat-form-field-wrapper{
      margin-top: 15px;
  }

  .login-btn{
      margin: 0 auto;
      display: flex;
  }

  .login-btn ::ng-deep .mat-button-wrapper{
    padding: 5px;
  }

  .options-log{
      display: flex;
      justify-content: space-between;
  }

  .options-log .top-option .fb-log{
      margin-bottom: 15px;
  }

  .options-log .bottom-option .apple-log{
    margin-bottom: 15px;
  }

  .log-other{
    padding: 20px;
  }
  .fb-log button{
    background: #4F575B;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    padding: 10px;
    border-radius: 5px;
    width:180px;
  }

  .google-log button{
    background: #4F575B;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    padding: 10px;
    border-radius: 5px;
    width:180px;
  }

  .apple-log button{
    background: #4F575B;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    padding: 10px;
    border-radius: 5px;
    width:180px;
  }

  .email-log button{
        background: #4F575B;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    padding: 10px;
    border-radius: 5px;
    width:180px;
  }

  .email-log button span{
    font-size: 20px;
    margin-right: 5px;
    transition:all 0.4s ease;
  }
  .email-log button:hover{
    color: rgb(200 36 36 / 78%);
    transition:all 0.4s ease;
  }

  .google-log button span{
    font-size: 20px;
    margin-right: 5px;
    transition:all 0.4s ease;
  }
  .google-log button:hover{
    color: rgb(200 36 36 / 58%);
    transition:all 0.4s ease;
  }

  .fb-log button span{
    font-size: 20px;
    margin-right: 5px;
    transition:all 0.4s ease;
  }
  .fb-log button:hover{
    color: #0062cc;
    transition:all 0.4s ease;
  }

  .apple-log button span{
    font-size: 20px;
    margin-right: 5px;
  }
  .apple-log button:hover{
    color: #ffffff;
    transition:all 0.4s ease;
  }

.or{
  margin: 20px 10px;
    text-transform: uppercase;
    font-size: .8em;
    position: relative;
}

.devider{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    background: #4f575b;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    color: #ffffff;
}

.or::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 50%;
  background: #202226;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 75%), inset -2px -2px 2px #4e5154;
  border-radius: 100px;
  background: linear-gradient(
320.66deg
, #005EA3 14.75%, #11A8FD 84.81%);
}

.otp-dilog{
  text-align: center;
    margin: 15px;
    position: relative;
    background: #4F575B;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 15%), -2px -2px 12px rgb(255 255 255 / 8%);
    border-radius: 10px;
}

.otp-dilog h4{
  color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding-top: 10px;
}

.otp-dilog h4 span{
  color: green;
    margin-right: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.otp-dilog p{
  color: #f44336;
    padding-top: 10px;
    margin: 0;
}

.otp-dilog .countdown{
  color: darkseagreen;
    font-size: 15px;
    padding-top: 5px;
}

.otp-dilog small{
  color: #f44336;
}

.icon-refresh{
  animation: mymove 2s infinite linear;
  display: inline-block;
  margin-left: 10px;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}


.login-body ::ng-deep .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content .mat-tab-body-content{
  overflow: unset !important;
}