<div class="main_wrapper">
    <app-header></app-header>
    <section class="content-wrapper body_wrapper">
        <div class="login-body">
            <mat-tab-group animationDuration="1500ms">
                <mat-tab label="Login">
                    <form class="example-form" [formGroup]="userform" (ngSubmit)="onsubmit()">
                        <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Mobile Number</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input autocomplete="off" minlength="10" type="tel" name="number" matInput placeholder="123-456-7890" maxlength="10" formControlName="userNo">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </form>
                    <button [disabled]="!userform.valid"  (click)="onAddmob();" type="submit" mat-raised-button color="warn" class="login-btn" >Login</button>
                    
                
                    <div class="otp-dilog" *ngIf="otpmsg">
                        <h4 mat-dialog-title><span class="icon-check"></span>Otp is Sent to Your Mobile Number</h4>
                        <p>{{userform.value.userNo}}</p>
                        <!-- <countdown [config]="config"></countdown> -->
                        <h5 class="countdown">Redirect to login page in <countdown [config]="config"></countdown><span class="icon-refresh"></span></h5>
                        <small>Don't close this page</small>
                    </div>
                    <div class="log-other">
                        <div class="or">
                            <div class="devider">or</div>
                        </div>
                        <div class="options-log">
                            <div class="top-option">
                                <div class="fb-log">
                                    <button mat-raised-button><span class="icon-facebook"></span>Login with Facebook</button>
                                </div>
                                <div class="google-log">
                                    <button mat-raised-button><span class="icon-google-plus"></span>Login with Google</button>
                                </div>
                            </div>
                            <div class="bottom-option">
                                <div class="apple-log">
                                    <button mat-raised-button><span class="icon-appleinc"></span>Login with Apple</button>
                                </div>
                                <div class="email-log">
                                    <button mat-raised-button><span class="icon-envelope"></span>Login with Email</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Subscribe">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Your Mobile Number</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input type="tel" name="number" matInput placeholder="123-456-7890" maxlength="10">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </form>
                    <button type="submit" mat-raised-button color="warn" class="login-btn" [routerLink]="['/login-panel/Signup']">Subscribe Now</button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </section>
    <app-footer></app-footer>
</div>