<div class="container py-2">
    <div class="row slider-cat">
        <div class="col-md-4 col-12 mb-4">
            <div class="box-outer">
                <div class="box-inner">
                   <img src="../../assets/images/thriller.jpg" alt="">
                   <div class="categort-section"><p>THRILLER</p></div>
                </div>
           </div>
        </div>
        <div class="col-md-4 col-12 mb-4">
            <a routerLink="/movies/watchlist">
            <div class="box-outer">
                <div class="box-inner">
                   <img src="../../assets/images/detactive.jpg" alt="">
                   <div class="categort-section"><p>DETECTIVE</p></div>
                </div>
           </div>
        </a>
        </div>
        <div class="col-md-4 col-12 mb-4">
            <div class="box-outer">
                <div class="box-inner">
                   <img src="../../assets/images/romantic.jpg" alt="">
                   <div class="categort-section"><p>ROMANCE</p></div>
                </div>
           </div>
        </div>
        <div class="col-md-4 col-12 mb-4">
            <div class="box-outer">
                <div class="box-inner">
                   <img src="../../assets/images/action.jpg" alt="">
                   <div class="categort-section"><p>ACTION</p></div>
                </div>
           </div>
        </div>
        <div class="col-md-4 col-12 mb-4">
            <div class="box-outer">
                <div class="box-inner">
                   <img src="../../assets/images/comedy.jpg" alt="">
                   <div class="categort-section"><p>COMEDY</p></div>
                </div>
           </div>
        </div>
        <div class="col-md-4 col-12 mb-4">
            <div class="box-outer">
                <div class="box-inner">
                   <img src="../../assets/images/kids.jpg" alt="">
                   <div class="categort-section"><p>KIDS</p></div>
                </div>
           </div>
        </div>
    </div>
</div>