<div class="main_wrapper">
    <app-header></app-header>
    <section class="content-wrapper" style="margin-left: 0;">
           <div class="Carousle">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let item of carouselItems let i = index" class="carousel-item" [ngClass]="{'active': i == 0 }">
                    <!-- <img src="../../assets/images/slider-1.jpg" class="d-block w-100" alt="..."> -->
                    <img src="{{item.imgsrc}}" class="d-block w-100" alt="...">
                  </div>
                  <!-- <div class="carousel-item">
                    <img src="../../assets/images/slider-2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider-3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider-4.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider-5.jpg" class="d-block w-100" alt="...">
                  </div> -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"></span>
                </button>
              </div>
           </div>
           <div class="body_wrapper">
                <div class="body_one">
                    <!-- <h3><span class="fleep">M</span><span>ovies</span>Category</h3> -->
                    <h3>
                        <span class="flip">M</span>
                        <span class="flip">o</span>
                        <span class="flip">v</span>
                        <span class="flip">i</span>
                        <span class="flip">e</span>
                        <span class="flip">s</span>
                        <span style="padding: 0 2px;"></span>
                        <span class="flip2">C</span>
                        <span class="flip2">a</span>
                        <span class="flip2">t</span>
                        <span class="flip2">e</span>
                        <span class="flip2">g</span>
                        <span class="flip2">o</span>
                        <span class="flip2">r</span>
                        <span class="flip2">y</span>
                    </h3>
                </div>
               <app-movies></app-movies>
           </div>
    </section>
    <app-footer></app-footer>
</div>

